body
{
    background:  #132c4b;
}

.wrap{

    width:90%;
    padding-top:130px;
}


.wrap .content-area
{
    margin: 0 auto;
}

.error-404{

    color:#fff;
}

.error-404 article header
{
    text-align: center;
}