
@media screen and (max-width: 1150px)
{

/* Menu */
    .wrap
    {
        width: 100%;
    }
}


/*  Footer*/

@media screen and (max-width: 991px)
{


    /*Menu*/

    .menu
    {
        position: relative;

        display: inline-block;
    }
    .menu ul.active
    {
        display: none;
    }
    .menu ul
    {
        position: absolute;
        top: 120%;
        left: 0;

        width: 100%;
        padding: 40px 18px;

        border-radius: 3px;
        background: rgba(0,0,0,0);
        box-shadow: 0 1px 1px rgba(0,0,0,.15);
    }

    .menu ul:after
    {
        position: absolute;
        top: 0;
        left: 22px;

        width: 0;
        height: 0;

        content: '';
        transform: translate(0%, -100%);

        border-right: 7px solid transparent;
        border-bottom: 7px solidrgba(0,0,0,0);
        border-left: 7px solid transparent;
    }
    .menu li
    {
        font-size: 1.8rem;

        display: block;
        float: none;

        margin: 20px 0 5px 0;
    }

    .menu a
    {
        display: block;
    }

    .menu li:hover a,
    .menu .current-item a
    {
        font-size: 1.8rem;
    }


    #toggle-nav-menu
    {
        font-size: 40px;

        display: inline-block;
        float: right;

        padding: 20px;

        transition: color linear .15s;

        color: #777;
        border-radius: 3px;
        background: rgba(0,0,0,0);
        box-shadow: 0 1px 1px rgba(0,0,0,.15);
        text-shadow: 0 1px 0 rgba(0,0,0,.5);
    }
    #toggle-nav-menu:hover,
    #toggle-nav-menu:active
    {
        text-decoration: none;

        color: #66a992;
    }





    /*Footer*/
    footer
    {
        height: 200px;
    }

    footer > span
    {
        position: relative;
        top: 0;
        bottom: 0;

        display: block;

        width: 100%;
        height: auto;
        margin: 0 auto;
        margin-bottom: 30px;

        text-align: center;
    }

    footer .container-fluid
    {
        position: relative;
        top: 0;
        bottom: 0;

        display: block;

        width: 100%;
        height: auto;
        margin: 0 auto;

        text-align: center;
    }

    footer > .made-by
    {
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        font-weight: 400;

        width: 100vw;
        height: 25px;
        margin: 0 auto;
        padding-left: 0;

        text-align: center;

        color: #84888b;
    }
}

@media screen and (max-width: 767px)
{
    /* Menu*/
    .menu ul
    {
        background:  #132c4b;
        top:130px;
    }

    /* Seccion Acerca de Nosotros*/
    .about
    {
        height: auto;
    }

    .servicios .container-fluid
    {
        margin-left: 0;
    }

    .about > .container-fluid article > p
    {
        padding-top: 40px;
        padding-left: 20px;
    }

    /* Seccion Misión y Visión*/
    .mision
    {
        width: 100vw;
        height: auto;
        padding-bottom: 40px;
    }

    .mision article
    {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    /* Seccion Servicios*/
    .servicios
    {
        position: relative;

        width: 100%;
        padding-bottom: 40px;
    }

    .servicios .container article
    {
        width: 80%;
        height: auto;
        margin: 0 auto;
        padding-bottom: 40px;

        border-style: none;
    }
}


@media screen and (max-width: 468px)
{

    .menu .navbar-brand 
{
    width:60%;
}
            .menu .navbar-brand img
{
    max-height: 150px;
    width: 100%;
}

}
