

@media screen and (max-width: 991px)
{
    .single-servicio .row > .icono.single-servicio img
    {
        width: 100%;
        max-width: 100px;
        height: auto;
        margin: 0;
    }

    .single-servicio article > h2.article-title
    {
        text-align: center;
    }
}


@media screen and (max-width: 767px)
{
    .single-servicio .row > .icono.single-servicio img
    {
        width: 100%;
        max-width: 50px;
    }

}
