body
{
    background:  #132c4b;
}

.single-servicio
{
    overflow-x: hidden;

    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 130px;
    padding-top: 60px;

    background-color: #fff;
}



.single-servicio .row  .icono.single-servicio
{
    display: block;
    float: left;
	max-width: 200px;
    height: auto;
    margin: 0 15px;

    background-color: #fff;
}

.single-servicio .row  .icono.single-servicio img
{
  
    max-width: 200px;
}

.single-servicio article
{
    margin-left: 0 ;
}

.single-servicio article > h2.article-title
{
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 600;

    position: relative;

    text-align: left;

    color: #22304b;
}


.single-servicio article > h2.article-title:first-letter
{
    text-transform: uppercase;
}



.single-servicio article > span h1,
.single-servicio article > span h2,
.single-servicio article > span h3,
.single-servicio article > span h4,
.single-servicio article > span h5,
.single-servicio article > span h6
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

    margin-top: 30px;
    margin-bottom: 30px;

    color: #84888b;
}

.single-servicio article > .wp-post-image
{
    width: 100%;
    height: auto;
}
