/*
Theme Name: Outbox S.P.A Website
Theme URI: https://www.example.org
Author: Rafael Figueredo
Author URI: https://www.linkedin.com/in/rafaelfigueredo/
Description: 
Version: 1.0.4
License: GPLv2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800');



/*font-family: 'Montserrat', sans-serif;*/




/* Estilos Generales */
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.clearfix
{
    width: 0;
    height: 0;
}

section
{
    overflow: hidden;
}

/* Alineaciones Wordpress*/
.center
{
    text-align: center;
}

img.center,
img[align='center']
{
    display: block;

    margin-right: auto;
    margin-left: auto;
}

.alignleft
{
    float: left;
}

img.alignleft,
img[align='left']
{
    float: left;

    margin: 2px 10px 5px 0;
}

.alignright
{
    float: right;
}

img.alignright,
img[align='right']
{
    float: right;

    margin: 2px 0 5px 10px;
}

.clear
{
    clear: both;
}

hr.clear
{
    visibility: hidden;
    clear: both;

    height: 0;
    margin: 0;
    padding: 0;
}

/* Body */
/* Header */
body
{
    position: relative;

    overflow-x: hidden;

    width: 100vw;
    height: 100vh;
    /* Full height */
    margin: 0;
}
header
{
    /*Fonts*/
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;

    position: relative;
    z-index: 999;

    width: 100%;
    height: 130px;
    margin: 0 auto;

    background: rgba(0,0,0,0);
}

/*----- Toggle Button -----*/
#toggle-nav-menu
{
    display: none;
}

/*----- Menu -----*/

.menu
{
    z-index: 1;

    width: 100%;
    height: 130px;
    padding: 10px 18px;
    padding-right: 40px;

    background: rgba(0,0,0,0);
}


.menu .navbar-brand img
{
    max-height: 150px;
    width: 150px;
}

.menu ul
{
    display: inline-block;
    float: right;

    width: 63.3333333%;
    padding-top: 78px;
}


.menu li
{
    font-size: 1.6rem;

    float: left;

    margin: 0 20px 0 0;

    list-style: none;
}

.menu li:last-child
{
    margin-right: 0;
}

.menu a
{
    -webkit-transition: color linear .15s;
       -moz-transition: color linear .15s;
         -o-transition: color linear .15s;
            transition: color linear .15s;
    text-decoration: none;

    color: #84888b;
}

.menu li:hover a,
.menu .current-item a
{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;

    color: #fff;
}


/* Banner de Entrada*/

.banner-intro
{
    /*Fonts*/
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 800;

    position: relative;
    top: -130px;

    width: 100%;
    /* Full height */
    height: 100vh;
    margin: 0 auto;

    text-align: center;

    background-color: rgba(0,0,0,0);
}

.banner-intro .container-fluid
{
    margin: 0;
    padding: 0
}


.banner-intro #background-carousel
{
    position: fixed;
    z-index: -1;

    width: 100%;
    height: 100%;
    margin: 0;
}

.banner-intro #background-carousel .carousel,
.banner-intro #background-carousel .carousel-inner
{
    z-index: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
}

.banner-intro #background-carousel .item
{
    z-index: 0;

    width: 100%;
    height: 100vh;
    margin: 0;

    background-repeat: no-repeat;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


.banner-intro #content-wrapper
{
    position: absolute;
    z-index: 1 !important;

    min-width: 100%;
    min-height: 100%;
    padding-top: 130px;
}

.banner-intro  .intro-message
{
    position: relative;

    padding-top: 20%;
    padding-bottom: 20%;
}
.banner-intro h1
{
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 600;

    margin-top: .67em;
    margin-right: 0;
    margin-bottom: .67em;
    margin-left: 0;

    color: #84888b;
}

.banner-intro h1:first-letter
{
    text-transform: capitalize;
}


.banner-intro h2
{
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 600;

    margin-top: .67em;
    margin-right: 0;
    margin-bottom: .67em;
    margin-left: 0;

    color: #84888b;
}

.banner-intro h1.h-active,
.banner-intro h2.h-active
{
    color: #fff;
}

.banner-intro h2:first-letter
{
    text-transform: capitalize;
}

.banner-intro  .intro-message .list-inline
{
    position: relative;

    padding-top: 100px;
   
}

.banner-intro .btn
{
    padding: 10px 30px;

    border: 2px solid #fff;
    border-radius: 0;
    background-color: #00bbfe;
}

.banner-intro .btn:hover
{
    background-color: #5bc0de;
}


/* Seccion Acerca de Nosotros*/

.about
{
    /*Fonts*/
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 800;

    position: relative;

    width: 100%;
    /* Full height */
    height: 100vh;
    margin: 0 auto;
    padding-top: 60px;

    text-align: left;
    /* The image used */

    background-color: #fff;
    background-image: url('img/logo_marcadeagua.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 40%;
}


.about > .container-fluid article
{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;

    margin: 35px 0;
    /*Fonts*/

    color: #595959;;
}

.about > .container-fluid article > h3
{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 800;

    padding-left: 140px;

    text-transform: uppercase;
    /*Fonts*/

    color: #22304b;
}

.about > .container-fluid article > p
{
    padding-top: 40px;
    padding-left: 140px;
}

/* Seccion Misión y Visión*/
.mision
{
    /*Fonts*/
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;

    position: relative;

    width: 100%;
    /* Full height */
    height: 50vh;
    margin: 0 auto;
    padding: 15px 0 0 0;

    text-align: center;

    color: #fff;
    /* The image used */
    background-image: url('img/fondo_mision_vision.jpg');
    background-repeat: no-repeat;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
}


.mision article
{
    height: 40vh;
    margin-top: 20px;
    padding-top: 5%;

    border-right: 1px solid  #fff;
}

.mision article:last-child
{
    border-right: none;
}

.mision article > h3
{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 800;

    -webkit-transition: color  ease-in-out 2s;
       -moz-transition: color  ease-in-out 2s;
         -o-transition: color  ease-in-out 2s;
            transition: color  ease-in-out 2s;
    text-transform: uppercase;
}



/* Seccion Servicios*/
.servicios
{
    /*Fonts*/
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;

    position: relative;

    width: 100%;
    /* Full height */
    height: auto;
    margin: 0 auto;
    padding-bottom: 100px;

    text-align: center;

    color: #595959;
    background-color: #fff;
}

.servicios  h2
{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 800;

    text-transform: uppercase;

    color: #22304b;
}

.servicios .container-fluid
{
    position: relative;

    width: 100%;
    margin: 0 auto;
    margin-left: 10%;
}

.servicios .container-fluid .row
{
    width: 100%;
    margin: 0 auto;
}

.servicios .container-fluid article
{
    overflow: hidden;

    height: 100%;
    margin-right: 40px;
    margin-bottom: 40px;

    text-align: left;

    border: 1px solid #595959;
}

.servicios .container-fluid article > h3
{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 800;

    color: #22304b;
}

.servicios .container-fluid article > p
{
    overflow: hidden;

    padding-top: 30px;
}

.servicios .container-fluid article > a
{
    display: block;

    width: 100px;

    color: #22304b;
    border: 1px solid #595959;
    background-color: #fff;
}



/* Sección Alianzas Begin */
.alianzas
{
    /*Fonts*/
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;

    position: relative;

    width: 100%;
    /* Full height */
    height: auto;
    margin: 0 auto;
    padding: 3em 0;

    text-align: center;

    color: #22304b;
    background-color: #e2e3e5;
}

.alianzas h2
{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 800;

    text-transform: uppercase;

    color: #22304b;
}

.alianzas .my-slider
{
    position: relative;

    float: none;

    width: 100%;
    margin: 0 auto;
}

.alianzas .my-slider article
{
    padding-right: 35px;
}

.alianzas .my-slider article > img {
        margin: auto;
        height: 100px;
        width: auto;
    }

.alianzas .my-slider article h5, .alianzas .my-slider article p {
        text-transform: uppercase;
    }

.alianzas .customized-arrows button
{
    z-index: 20;

    border: none;
    background: rgba(0,0,0,0);
}


.alianzas .customized-arrows button.next
{
    position: absolute;
    top: 50%;
    left: 96%;
}

.alianzas .customized-arrows button.prev
{
    position: absolute;
    top: 50%;
    right: 96%;
}

.alianzas .customized-arrows button > .slider-btn-icon
{
    font-size: 5rem;

    text-transform: full-width;

    color: #22304b;
    background: rgba(0,0,0,0);
}


/* Sección Alianzas End */



/*Seccion Contacto*/
.contacto
{
    /*Fonts*/
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 800;

    position: relative;

    width: 100%;
    /* Full height */
    height: auto;
    margin: 0 auto;
    padding-top: 60px;

    text-align: left;
    /* The image used */

    background-color: #fff;
}

.contacto h2
{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 800;

    text-align: center;
    text-transform: uppercase;

    color: #22304b;
}

.contacto article h3
{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 800;

    color: #1d1d1e;
}

.contacto article h3 .icon-color
{
    color: #00bcff;
}

.contacto article p
{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;

    padding: 30px;

    color: #595959;
}

.contacto .form-container span
{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;

    padding: 30px;

    color: #595959;
}

.contacto .form-container-fluid span input,
textarea
{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;

    padding: 30px;

    color: #595959;
}


/*Wp Contact Form 7 */
.wpcf7 input.wpcf7-text
{
    height: 40px;
}
.wpcf7 textarea.wpcf7-textarea
{
    height: 150px;
}


/* Footer*/

footer
{
    /*Fonts*/
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;

    position: relative;

    width: 100%;
    display: block;
    /*height: 110px;*/
    margin: 2em auto;
    padding: 2em 50px;

    text-transform: uppercase;

    color: #fff;
    background-color: #132c4b;
}

footer .container-fluid
{
  float: right;

        height: auto;
}


footer .container-fluid li
{
    display: inline-block;

    height: auto;
    padding: 0 20px;
    padding-top: 30px;
}




footer .container-fluid a
{
    font-size: 4rem;

    float: left;

    color: #84888b;
}


footer .container-fluid li:hover a
{
    color: #fff;
}


footer > span
{
    position: relative;
    top: 50%;

    display: inline-block;

        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        text-align: center;
}


footer > .made-by
{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;

    position: relative;

    width: 100vw;
    height: 25px;
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 50px;

    text-align: center;
    /*float: none;*/

    color: #84888b;
}

footer > .made-by a
{
    color: #84888b;
}

footer > .made-by a:hover
{
    color: #fff;
}
